<p style="color: green"><%= notice %></p>

<div class="my-3 p-3 bg-body rounded shadow-sm">
  <h6 class="border-bottom pb-2 mb-0">Last orders</h6>

  <% @client_orders.each do |order| %>
    <%= render partial: 'orders/client_order', locals: { order: order } %>
  <% end %>

  <small class="d-block text-end mt-3">
    <a href="#">All orders</a>
  </small>
</div>

<%= link_to "New order", new_order_path, class: "btn btn-primary" %>
